/* CSS declarations go here */

body {
  font-family: sans-serif;
}
.table-header {
  background-color: #aa0000;
  font-weight: bold;
  border: 1px solid gray;
}

.table-row {
    content: "";
    clear: both;
    display: block;
    min-height: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-row:hover {
  background-color: green;
}

.table-col {
    float: left;
    display: block;
    width: 20%;
}

.col-qty {
  width: 5%;
  font-weight: bold;
  text-align: right;
}


.component-detail {
  width: 60%;
  display: block;
  border: auto;
  background: linen;
  border-radius: 7px;
   margin:30px auto 0;
   padding:6px;
   position:absolute;
   /*width:800px;*/
   top: 50%;
   left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
}
